<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom px-5">
        <a href="/show-tasks" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="/logo.png" width="60" height="32" class="me-2" alt="Icon">
            <span class="fs-4">Your task manager</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <!-- checking for "ROLE_ADMIN" -->
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/admin">Admin Panel</a>
            </div>
            <div>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/show-tasks">Tasks</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
            </div>
            <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" style="display: inline;" >
                <button type="submit" class="me-3 py-2 link-body-emphasis text-decoration-none">Logout</button>
            </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="py-2 link-body-emphasis text-decoration-none" href="/login">Log in</a>
            </div>

            <!-- button  "Admin Panel" only for ROLE_ADMIN -->
            <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-secondary">Admin Panel</a>

        </nav>
    </div>
</div>

