<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom px-5">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="/static/logo.png" width="60" height="32" class="me-2" alt="Icon">
            <span class="fs-4">Your task manager</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Tasks</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/login">Log in</a>
        </nav>
    </div>
</div>